[submodule "evaluation/preprocess/dgp"]
	path = evaluation/preprocess/dgp
	url = https://github.com/TRI-ML/dgp.git
[submodule "third_party/moge"]
	path = third_party/moge
	url = https://github.com/microsoft/MoGe.git
[submodule "sfm/spatracker"]
	path = sfm/spatracker
	url = https://github.com/henry123-boy/SpaTracker
